// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
    width: 1150px;
    
     margin-left: auto;
     margin-right: auto;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.album_box{
    width: 140px;
    height: 150px;
    float:left;
   

    
}
#new {
	float: right;
	padding-right:150px;
}
.img{
    float:center;
    background-position: center center;

}
