// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sub{
	background-color: #006699;
	color: white;
	padding: 10px;
	border-radius: 6px;
}
.sub1{
	background-color: #006699;
	color: white;
	padding: 6px;
	border-radius: 6px;
	
}